body, html {
  margin: 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

.container {
  background-color: #041f30;
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.card {
  height: 400px;
  width: 300px;
  margin: 8px;
  position: relative;

  --skew-size: -2px;
  --top-left-color: rgba(228, 91, 50, 0.8);
  --bottom-right-color: rgba(239, 244, 46, 0.8);
  --button-space: 12px;
  --card-content-space: 16px;
  --transition-duration: 2s;
}

.card:hover .card-content__button {
  transform: translateY(0px);
  opacity: 1;
}

.card:hover .card-content__number {
  top: 0;
}

.card-content {
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  color: white;
  background: linear-gradient(-90deg, #041f30 50%, #112a3b 50%);
  padding: var(--card-content-space);
  display: flex;
  align-items: center;
  position: relative;
}

.card-content__summary {
  line-height: 1.25rem;
}

.card-content__button {
  position: absolute;
  color: inherit;
  font-size: inherit;
  border: solid 2px gray;
  background: transparent;
  padding: var(--button-space);
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity var(--transition-duration), transform var(--transition-duration);
}

.card-content__number {
  position: absolute;
  font-weight: bold;
  top: 40px;
  right: 0;
  font-size: 13rem;
  opacity: 0.2;
  transition: top var(--transition-duration);
}

.card__skew {
  height: 100%;
  width: 100%;
  position: absolute;
  padding: var(--skew-size);
  transform: skew(2deg, 3deg);
  background: rgb(228, 91, 50);
  background: linear-gradient(
    145deg,
    var(--top-left-color) 50%,
    var(--bottom-right-color) 100%
  );
}
